<%- include("partials/header.ejs") %>

<h2>Feedback</h2>

<ul>
    <li><%= feedback.nastyNoNos %> Nasty No-Nos (-1% each)</li>
    <li><%= feedback.spelling %> Spelling Errors (-1% each)</li>
    <li><%= feedback.sameStart %> Sentence Pairs Start With The Same Word (-3% each)</li>
    <li><%= feedback.prepositionEnd %> Sentences End With A Preposition (-5% each)</li>
    <li>Word Count: <%= feedback.wordCnt %></li>
    <li><strong>Final Score: <%= feedback.score %></strong></li>
</ul>

<p>Hover over highlighted words below to receive more detailed feedback.</p>

<%- essay %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<%- include("partials/footer.ejs") %>